<nav class="navbar  nav-pills navbar-expand-sm" style="padding:5px; border-bottom-style: groove; background-color: green;">

    <div class="container-fluid" style="display: block;">
      <!-- Links -->
  
      <ul class="nav  justify-content-center">
        <li class="nav-item" style="margin-left: 10px;">
          <a class="nav-link active" data-bs-toggle="pill" style="color:white" routerLink="/products"><b>Products</b></a>
        </li>
        <li class="nav-item" style="margin-left: 10px;">
          <a class="nav-link" data-bs-toggle="pill" style="color:white" routerLink="/contact"><b>Contact</b></a>
        </li>
      </ul>
    </div>
  
  </nav>
<router-outlet></router-outlet>